<!DOCTYPE html>
<html>
<head>
  <title>Sequence Query Fields Report</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

  <h1>Sequence Query Fields Report</h1>

  {%- for seq in sgdata %}
    <blockquote>
      <h2>{{ seq.type }}: {{ seq.name }} - {{ seq.id }}</h2>

      <table class="styled-table">
        <thead>
          <tr>
            <th>Query Field Name</th>
            <th>Calculation</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {% for item in seq.data -%}
            <tr>
              <td><strong>{{ item.query_field }}</strong></td>
              <td>{{ item.type }}</td>
              <td><strong>{{ item.value }}</strong></td>
            </tr>
          {%- endfor %}
        </tbody>
      </table>
    </blockquote>
  {%- endfor %}
</body>
</html>
